$Inter:     ('Regular', 400),
            ('SemiBold', 600),
            ('Bold', 700);
            
@each $name, $weight in $Inter {
    @font-face {
        font-family: 'Inter';
        src: url('/public/fonts/Inter_#{$name}.ttf');
        font-weight: $weight;
    }
}
//haha